<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.mapper.StdLegalDataStructuredMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.springboot.domain.StdLegalDataStructured">
    <result column="id" property="id" />
        <result column="req_id" property="reqId" />
        <result column="serialno" property="serialno" />
        <result column="entname" property="entName" />
        <result column="orgcode" property="orgCode" />
        <result column="ptype" property="ptype" />
        <result column="caseno" property="caseNo" />
        <result column="casereason" property="caseReason" />
        <result column="docuclass" property="docuClass" />
        <result column="target" property="target" />
        <result column="targettype" property="targetType" />
        <result column="pdesc" property="pdesc" />
        <result column="plaintiff" property="plaintiff" />
        <result column="judgementresult" property="judgementResult" />
        <result column="pdate" property="pdate" />
        <result column="casedate" property="caseDate" />
        <result column="court" property="court" />
        <result column="department" property="department" />
        <result column="winstaff" property="winStaff" />
        <result column="importstaff" property="importStaff" />
        <result column="agent" property="agent" />
        <result column="paybank" property="payBank" />
        <result column="payee" property="payee" />
        <result column="targetamount" property="targetAmount" />
        <result column="telno" property="telno" />
        <result column="endorser" property="endorser" />
        <result column="holder" property="holder" />
        <result column="tickettime" property="ticketTime" />
        <result column="expirationdate" property="expirationDate" />
        <result column="billnumer" property="billnumer" />
        <result column="province" property="province" />
        <result column="city" property="city" />
        <result column="secretary" property="secretary" />
        <result column="chiefjudge" property="chiefJudge" />
        <result column="judge" property="judge" />
        <result column="lawstatus" property="lawstatus" />
        <result column="datasource" property="dataSource" />
        <result column="collectiondate" property="collectionDate" />

        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_by" property="createBy" />
        <result column="update_by" property="updateBy" />
    </resultMap>

    <!-- 获取诉讼结构数据新增字段表 -->
    <select id="getvarname"  resultType="map"  parameterType="map">
        select distinct a.legalvalue from std_legal_data_added a ,std_legal_data_structured b
        where a.REQ_ID =b.REQ_ID and a.VARNAME =#{varname,jdbcType=VARCHAR} and a.SERIALNO =#{serialno,jdbcType=VARCHAR} and a.REQ_ID =#{reqID,jdbcType=VARCHAR}
        limit 1
    </select>

</mapper>
