<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.springboot.mapper.TaskMapper" >

    <resultMap id="BaseResultMap" type="com.springboot.domain.Task" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="task_number" property="taskNumber" jdbcType="VARCHAR" />
        <result column="task_name" property="taskName" jdbcType="VARCHAR" />
        <result column="start_time" property="startTime" typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler"/>
        <result column="start_unit" property="startUnit" jdbcType="VARCHAR" />
        <result column="task_source" property="taskSource" jdbcType="VARCHAR" />
        <result column="due_time" property="dueTime" typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler" />

        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="create_by" property="createBy" jdbcType="VARCHAR" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    </resultMap>

    <resultMap id="TaskResultMap" type="com.springboot.model.TaskModel" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="task_number" property="taskNumber" jdbcType="VARCHAR" />
        <result column="task_name" property="taskName" jdbcType="VARCHAR" />
        <result column="start_time" property="startTime" typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler"/>
        <result column="start_unit" property="startUnit" jdbcType="VARCHAR" />
        <result column="task_source" property="taskSource" jdbcType="VARCHAR" />
        <result column="due_time" property="dueTime" typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler" />

        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="create_by" property="createBy" jdbcType="VARCHAR" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        t.task_number, t.task_name, t.start_time, t.task_source, t.due_time, t.create_time, t.create_by, t.update_time, t.update_by
    </sql>

    <sql id="TaskPage">
        tc.id,
        t.task_number,
        e.enterprise_name,
        tc.check_region,
        tc.related_clues,
        tc.check_status,
        tc.enable,
        tc.expire_time,
        e.disposal_stage,
        tc.overdue,
        tc.assignment
    </sql>

    <select id="findPageTasks" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from tasks t
    </select>

    <select id="pageTasks" resultType="com.springboot.model.TaskModel">
        SELECT <include refid="TaskPage"/>
        FROM task_checks tc
        LEFT JOIN tasks t ON tc.task_id = t.id
        LEFT JOIN task_dispositions td ON td.task_check_id = tc.id
        LEFT JOIN enterprises e ON tc.enterprise_id = e.id
        WHERE 1=1
        <if test="enterpriseName!=null and enterpriseName!=''">
            AND e.enterprise_name = #{enterpriseName}
        </if>
        <if test="checkStatus!=null and checkStatus!=''">
            AND tc.check_status = #{checkStatus}
        </if>
        <if test="disposalStage!=null and disposalStage!=''">
            AND e.disposal_stage = #{disposalStage}
        </if>
        <if test="assignment!=null and assignment!=''">
            AND tc.assignment = #{assignment}
        </if>
        <if test="checkRegion!=null and checkRegion!=''">
            AND tc.check_region = #{checkRegion}
        </if>
    </select>

</mapper>