<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>

    <style>
        .container {
            margin-left: auto;
            margin-right: auto;
        }

        body {
            font-size: 14px;
            min-width: initial;
            background: none repeat scroll 0 0 #fff;
            color: #000;
            font-family: "Microsoft YaHei",WenQuanYi Micro Hei,"Heiti SC","Lucida Sans Unicode","Myriad Pro","Hiragino Sans GB",Verdana,simsun;
            font-size: 10px;
            min-height: 100%;
            max-width: 700px;
            position: relative;
            margin: 0px;
        }

        h1, h3 {
            text-align: center;
        }

        table, table tr th, table tr td {
            border: 1px solid black;
        }

        td {
            width: 60px;
        }

        table {
            width: 700px;
            min-height: 25px;
            line-height: 25px;
            text-align: center;
            border-collapse: collapse;
        }

        .div-border {
            border: 1px solid black;
            box-sizing: border-box;
        }

    </style>
</head>
<body class="container">
<h1>第一部分 企业健康检测雷达</h1>
<img src="a.jpg"/>
<div>
    <div>
        <div style="display: inline-block">
            企业名称：ABC有限公司<br/>
            统一社会信用代码：XXXXXXXXXXXX<br/>
            法定代表人：XXX
        </div>
        <div style="display: inline-block; margin-left: 250px;">
            所属行业：零售业<br/>
            注册资本：1000万元<br/>
            经营年限：5年
        </div>
    </div>

    <div>
        <h4>经营稳定性雷达</h4>
        <div><span>经营稳定性评分</span><span style="margin-left: 250px;">经营稳定性雷达说明</span></div>
        <table>
            <tr style="border: none">
                <td style="width: 30%">80分</td>
                <td style="width: 70%;text-align: left">
                    ★报告主体经营稳定性得分为xx分<br/>
                    ★经营稳定性衡量企业经营的变化情况，用于综合判断企业经营的稳定性。
                </td>
            </tr>
        </table>
    </div>

    <div>
        <h4>知识产权价值度雷达</h4>
        <div><span>知识产权价值评分</span><span style="margin-left: 250px;">知识产权价值度雷达说明</span></div>
        <table>
            <tr style="border: none">
                <td style="width: 30%">80分</td>
                <td style="width: 70%;text-align: left">
                    ★报告主体知识产权价值度得分为XX分<br/>
                    ★知识产权价值度代表企业在专利、商标、软件著作权三个板块的综合价值度，反映企业的知识产权价值情况。
                </td>
            </tr>

        </table>
    </div>

    <div>
        <h4>经营风险雷达</h4>
        <div><span>经营风险评分</span><span style="margin-left: 250px;">经营风险雷达说明</span></div>
        <table>
            <tr style="border: none">
                <td style="width: 30%">80分</td>
                <td style="width: 70%;text-align: left">
                    ★报告主体经营风险得分为XX分<br/>
                    ★经营风险反映企业经营中发生与出现的各种经营相关的风险与异常情况。
                </td>
            </tr>

        </table>
    </div>

    <div>
        <h4>经营风险雷达</h4>
        <div><span>经营风险评分</span><span style="margin-left: 250px;">经营风险雷达说明</span></div>
        <table>
            <tr style="border: none">
                <td style="width: 30%">80分</td>
                <td style="width: 70%;text-align: left">
                    ★报告主体经营风险得分为XX分<br/>
                    ★经营风险反映企业经营中发生与出现的各种经营相关的风险与异常情况。
                </td>
            </tr>

        </table>
    </div>

    <div>
        <h4>法律风险雷达</h4>
        <div><span>法律风险评分</span><span style="margin-left: 250px;">法律风险雷达说明</span></div>
        <table>
            <tr style="border: none">
                <td style="width: 30%">80分</td>
                <td style="width: 70%;text-align: left">
                    ★报告主体法律风险得分为XX分<br/>
                    ★法律风险反映企业涉诉方面的风险情况。
                </td>
            </tr>

        </table>
    </div>
</div>

<h1>第二部分 企业健康监测透析</h1>
<div>
    <div>
        <h4>五维雷达透析一览表</h4>
        <table>
            <thead>
            <tr>
                <th>评价雷达</th>
                <th colspan="2">经营稳定性</th>
                <th colspan="2">知识产权价值度</th>
                <th colspan="2">经营风险</th>
                <th colspan="2">法律风险</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td scope="row">综合得分</td>
                <td colspan="2">XX</td>
                <td colspan="2">XX</td>
                <td colspan="2">XX</td>
                <td colspan="2">XX</td>
            </tr>
            <tr>
                <td rowspan="4">评价维度&amp;风险关注项</td>
                <td>经营持续性</td>
                <td></td>
                <td>专利强度</td>
                <td></td>
                <td>工商异常</td>
                <td></td>
                <td>案件风险</td>
                <td></td>
            </tr>
            <tr>
                <td>经营变动</td>
                <td>1</td>
                <td>商标强度</td>
                <td></td>
                <td>经营异常</td>
                <td></td>
                <td>涉诉行为</td>
                <td></td>
            </tr>
            <tr>
                <td>控制权稳定性</td>
                <td></td>
                <td>软件著作权强度</td>
                <td></td>
                <td>行政处罚</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>投资方能力</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
        <span>注：风险关注项详见各个评价雷达透析中的红色底色提示项</span>
    </div>

    <div>
        <h4>经营稳定性透析</h4>
        <table>
            <thead>
            <tr>
                <td>评价雷达</td>
                <td>评价维度</td>
                <td>时点/时段</td>
                <td>关注项</td>
                <td>客户实际值</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>经营稳定性</td>
                <td>经营持续性</td>
                <td>当前</td>
                <td>企业成立年限</td>
                <td></td>
            </tr>
            <tr>
                <td>经营稳定性</td>
                <td>经营变动</td>
                <td>近12个月</td>
                <td>管理人员变动次数</td>
                <td></td>
            </tr>
            <tr>
                <td>经营稳定性</td>
                <td>经营变动</td>
                <td>近12个月</td>
                <td>投资人退出数</td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div>
        <h4>知识产权价值度透析</h4>
        <table>
            <thead>
            <tr>
                <td>评价雷达</td>
                <td>评价维度</td>
                <td>时点/时段</td>
                <td>关注项</td>
                <td>客户实际值</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>知识产权价值度</td>
                <td>专利价值度</td>
                <td>当前</td>
                <td>报告主体专利总强度</td>
                <td></td>
            </tr>
            <tr>
                <td>知识产权价值度</td>
                <td>专利价值度</td>
                <td>当前/近12个月/近24个月</td>
                <td>报告主体有效发明专利数量</td>
                <td></td>
            </tr>
            <tr>
                <td>知识产权价值度</td>
                <td>专利价值度</td>
                <td>当前/近12个月/近24个月</td>
                <td>报告主体有效实用新型专利数量</td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div>
        <h4>经营风险透析</h4>
        <table>
            <thead>
            <tr>
                <td>评价雷达</td>
                <td>评价维度</td>
                <td>时点/时段</td>
                <td>关注项</td>
                <td>客户实际值</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>经营风险</td>
                <td>工商异常</td>
                <td>当前</td>
                <td>企业经营异常状态</td>
                <td></td>
            </tr>
            <tr>
                <td>经营风险</td>
                <td>行政处罚</td>
                <td>近12个月</td>
                <td>严重工商处罚次数</td>
                <td></td>
            </tr>
            <tr>
                <td>经营风险</td>
                <td>经营异常</td>
                <td>近24个月</td>
                <td>股权冻结笔数</td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div>
        <h4>法律风险透析</h4>
        <table>
            <thead>
            <tr>
                <td>评价雷达</td>
                <td>评价维度</td>
                <td>时点/时段</td>
                <td>关注项</td>
                <td>客户实际值</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>法律风险</td>
                <td>案件风险</td>
                <td>截至当前所有记录</td>
                <td>高风险等级案件数量</td>
                <td></td>
            </tr>
            <tr>
                <td>法律风险</td>
                <td>案件风险</td>
                <td>截至当前所有记录</td>
                <td>中风险等级案件数量</td>
                <td></td>
            </tr>
            <tr>
                <td>法律风险</td>
                <td>案件风险</td>
                <td>截至当前所有记录</td>
                <td>低风险等级案件数量</td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

<h1>第一部分 企业背景详情</h1>
<h3>一、企业注册信息</h3>
<div>
    <div>
        <h4>企业基本信息</h4>
        <table>
            <tbody>
            <tr>
                <td>法定代表人</td>
                <td>王**</td>
                <td>企业（机构）类型</td>
                <td>有限责任公司</td>
            </tr>
            <tr>
                <td>注册资本</td>
                <td>100w</td>
                <td>币种</td>
                <td>人民币</td>
            </tr>
            <tr>
                <td>实缴资本</td>
                <td>50w</td>
                <td>最后年检年度</td>
                <td></td>
            </tr>
            <tr>
                <td>行业</td>
                <td>科技推广和应用服务化</td>
                <td>注销日期</td>
                <td></td>
            </tr>
            <tr>
                <td>经营期限自</td>
                <td>2020/8/6</td>
                <td>吊销日期</td>
                <td></td>
            </tr>
            <tr>
                <td>工商注册号</td>
                <td>XXXX**</td>
                <td>员工人数</td>
                <td></td>
            </tr>
            <tr>
                <td>统一社会信用代码</td>
                <td>911902939723***XW</td>
                <td>经营期限至</td>
                <td>2020/8/24</td>
            </tr>
            <tr>
                <td>注册地址</td>
                <td>重庆市渝北区**</td>
                <td>组织机构代码</td>
                <td>23434*5X</td>
            </tr>
            <tr>
                <td>经营范围</td>
                <td>技术开发、技术咨询、技术服务*****</td>
                <td>登记机关</td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div>
        <h4>主要人员</h4>
        <table>
            <tbody>
            <tr>
                <td>姓名</td>
                <td>王**</td>
                <td>李**</td>
            </tr>
            <tr>
                <td>职务</td>
                <td>法定代表人，总经理，执行董事</td>
                <td>副总经理</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div>
        <h4>股东信息</h4>
        <table>
            <thead>
            <tr>
                <td>股东名称</td>
                <td>认缴出资额</td>
                <td>出资日期</td>
                <td>出资比例</td>
                <td>股东类型</td>
                <td>出资方式</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>王**</td>
                <td>20万</td>
                <td>2015/2/3</td>
                <td>50%</td>
                <td>个人</td>
                <td>货币</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div>
        <h4>分支机构</h4>
        <table>
            <thead>
            <tr>
                <td>序号</td>
                <td>企业名称</td>
                <td>负责人</td>
                <td>成立日期</td>
                <td>经营状态</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>****有限公司成都第二分公司</td>
                <td>李*兰</td>
                <td>2020/2/3</td>
                <td>存续</td>
            </tr>
            <tr>
                <td>2</td>
                <td>****有限公司成都第三分公司</td>
                <td>梁*兵</td>
                <td>2020/2/3</td>
                <td>存续</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<h3>二、企业经营发展信息</h3>
<div>
    <div>
        <h4>信息变更记录</h4>
        <table>
            <thead>
            <tr>
                <td>序号</td>
                <td>年度</td>
                <td>日期</td>
                <td>变更项目</td>
                <td>变更前</td>
                <td>变更后</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>2019</td>
                <td>2019/3/13</td>
                <td>注册资本</td>
                <td>100000</td>
                <td>200000</td>
            </tr>
            <tr>
                <td>2</td>
                <td>2020</td>
                <td>2020/3/13</td>
                <td>股权变更</td>
                <td>李：30%</td>
                <td>王：30%</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<h1>第二部分 企业风险详情</h1>
<h3>一、企业经营异常详情</h3>
<div>
    <div>
        <h4>行政处罚</h4>
        <table>
            <thead>
            <tr>
                <td>处罚决定文号</td>
                <td>处罚决定书签发日期</td>
                <td>公示日期</td>
                <td>处罚机关</td>
                <td>主要违法事实</td>
                <td>处罚种类</td>
                <td>处罚结果</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>*******23</td>
                <td></td>
                <td>2019/3/13</td>
                <td>***工商局</td>
                <td>哄抬物价</td>
                <td>罚款</td>
                <td></td>
            </tr>
            <tr>
                <td>****32</td>
                <td></td>
                <td>2020/3/13</td>
                <td>**税务局</td>
                <td>虚开发票</td>
                <td>罚款</td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div>
        <h4>股权冻结</h4>
        <table>
            <thead>
            <tr>
                <td>序号</td>
                <td>冻结文号</td>
                <td>冻结机关</td>
                <td>冻结起始日期</td>
                <td>冻结截至日期</td>
                <td>解冻日期</td>
                <td>冻结金额</td>
                <td>解冻文号</td>
                <td>解冻说明</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>（2017）渝**民***</td>
                <td>重庆市**、区人民法院</td>
                <td>2017/5/5</td>
                <td>2017/7/7</td>
                <td></td>
                <td>652万元人民币</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>2</td>
                <td>（2018）渝**民***</td>
                <td>重庆市**、区人民法院</td>
                <td>2017/5/5</td>
                <td>2017/7/7</td>
                <td>2020/3/4</td>
                <td>652万元人民币</td>
                <td>（2013）城中民二出自第206号</td>
                <td>接触冻结股权、其他投资权益</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div>
        <h4>企业异常名录</h4>
        <table>
            <thead>
            <tr>
                <td>序号</td>
                <td>企业名称</td>
                <td>列入日期</td>
                <td>列入原因</td>
                <td>移出日期</td>
                <td>退出异常名录原因</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>***有限公司</td>
                <td>2017/5/5</td>
                <td>未按规定报送年度报告</td>
                <td>2017/7/7</td>
                <td>补报未报年份年度报告</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div>
        <h4>企业清算信息</h4>
        <table>
            <thead>
            <tr>
                <td>序号</td>
                <td>清算负责人</td>
                <td>清算组成员</td>
                <td>清算完结情况</td>
                <td>清算完结日期</td>
                <td>债务承接人</td>
                <td>债权承接人</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>2</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<h3>二、企业涉诉详情</h3>
<div>
    <div>
        <h4>涉诉案件列表</h4>
        <h5>案件编号：1</h5>
        <table>
            <thead>
            <tr>
                <td>案号</td>
                <td>案件类型</td>
                <td>案由</td>
                <td>诉讼地位</td>
                <td>间隔时间（年）</td>
                <td>涉案金额（元）</td>
                <td>法院等级</td>
                <td>审理结果</td>
                <td>案件结果对客户的影响</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>（2017）苏07民终779号</td>
                <td>民事</td>
                <td>损害公司利益责任纠纷</td>
                <td>原告</td>
                <td>1.2</td>
                <td>0.00</td>
                <td>最高</td>
                <td>最高</td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

</body>
</html>