<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.mapper.InformDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.springboot.domain.Inform">
        <result column="id" property="id"/>
        <result column="clue_number" property="clueNumber"/>
        <result column="source" property="source"/>
        <result column="anonymous" property="anonymous"/>
        <result column="inform_time" property="informTime"/>
        <result column="inform_name" property="informName"/>
        <result column="inform_type" property="informType"/>
        <result column="area_id" property="areaId"/>
        <result column="crime_time" property="crimeTime"/>
        <result column="crime_region" property="crimeRegion"/>
        <result column="crime_address" property="crimeAddress"/>
        <result column="involved_amount" property="involvedAmount"/>
        <result column="inform_content" property="informContent"/>
        <result column="assignment" property="assignment"/>
        <result column="check_status" property="checkStatus"/>
        <result column="inform_person_id" property="informPersonId"/>
        <result column="attach" property="attachment"/>
        <result column="enable" property="enable"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_by" property="createBy"/>
        <result column="update_by" property="updateBy"/>
    </resultMap>

    <sql id="Inform_Page_Column">
      i.id,
      i.clue_number,
	  i.inform_name,
	  i.inform_time,
	  i.check_status,
	  i.assignment,
	  i.area_id,
	  i.expire_time,
	  a.area_name,
        IF(i.expire_time is not null,
        case i.check_status
        when 'CHECKED' then 0
        else  i.expire_time &lt; now() end, 0) as overdue,
	  ic.verification,
	  ir.reward_status,
	  IFNULL(rf.refundCount,0) as refundCount
    </sql>

    <sql id="Inform_Export_Column">
      i.id,
    i.clue_number AS clueNumber,
    i.`source`,
    i.anonymous,
    DATE_FORMAT(i.inform_time,'%Y-%m-%d') AS informTime,
    i.inform_name AS informName,
    i.inform_type AS informType,
    DATE_FORMAT(i.crime_time,'%Y-%m-%d') AS crimeTime,
    i.crime_region AS crimeRegion,
    i.crime_address AS crimeAddress,
    i.involved_amount AS involvedAmount,
    i.inform_content AS informContent,
    i.assignment,
    i.area_id AS areaId,
    i.check_status AS checkStatus,
    i.attachment,
    DATE_FORMAT(i.expire_time,'%Y-%m-%d') AS expireTime,
    ip.person_name AS personName,
    ip.identity_card AS identityCard,
    ip.contact_way AS contactWay,
    ip.address,
    DATE_FORMAT(ic.check_time,'%Y-%m-%d') AS checkTime,
    ic.enterprise_name AS enterpriseName,
    ic.check_place AS checkPlace,
    ic.overdue,
    ic.industry,
    ic.verification,
    ic.check_details AS checkDetails,
    ic.check_enterprise_name AS checkEnterpriseName,
    ic.disposal_measures AS disposalMeasures,
    ic.transfer,
    ic.transfer_unit AS transferUnit,
    ic.transfer_reason AS transferReason,
    ic.attachment as checkAtta,
    ire.reward_status AS rewardStatus,
    ire.reward_amount AS rewardAmount,
    DATE_FORMAT(ire.reward_time,'%Y-%m-%d') AS rewardTime
    </sql>

    <select id="informPage" parameterType="Map" resultType="com.springboot.model.InformPageModel">
        SELECT
        <include refid="Inform_Page_Column"/>
        FROM informs i
        LEFT JOIN inform_checks ic ON i.id = ic.inform_id
        LEFT JOIN inform_rewards ir ON i.id = ir.inform_id
        LEFT JOIN areas a ON i.area_id = a.id
        LEFT JOIN (
          select inform_id,count(inform_id) refundCount from inform_refunds group by inform_id
        ) rf ON rf.inform_id = i.id
        WHERE i.enable = 'Y'
        and i.area_id in
        <foreach collection="areaIds" item="id" index="i" open="(" close=")" separator=",">
            #{id}
        </foreach>
        <if test="checkStatus != null and checkStatus != '' ">
            AND i.check_status = #{checkStatus}
        </if>
        <if test="assignment != null and assignment != '' ">
            AND i.assignment = #{assignment}
        </if>
        <if test="informTimeStart != null">
            AND i.inform_time &gt;= #{informTimeStart}' 00:00:00'
        </if>
        <if test="informTimeEnd != null">
            AND i.inform_time &lt;= #{informTimeEnd}' 23:59:59'
        </if>
        <if test="rewardStatus != null and rewardStatus != '' ">
            AND ir.reward_status = #{rewardStatus}
        </if>
        <if test="informName != null and informName != '' ">
            AND i.inform_name like '%${informName}%'
        </if>
        <if test="verification != null and verification != '' ">
            AND ic.verification = #{verification}
        </if>
        <if test="overdue != null and 'false'.toString() == overdue.toString()">
            AND (i.check_status = 'CHECKED' or i.expire_time is null or i.expire_time &gt;= now() )
        </if>
        <if test="overdue != null and 'true'.toString() == overdue.toString()">
            AND (i.check_status != 'CHECKED' AND i.expire_time is not null AND i.expire_time &lt; now())
        </if>
        <if test="checkTimeStart != null">
            AND ic.check_time &gt;= #{checkTimeStart}' 00:00:00'
        </if>
        <if test="checkTimeEnd != null">
            AND ic.check_time &lt;= #{checkTimeEnd}' 23:59:59'
        </if>
        <!--
        <if test="areaId != null">
            AND ic.check_unit = #{areaId}
        </if>
        -->
    </select>

    <select id="listInformByIds" parameterType="java.util.List" resultType="com.springboot.model.InformExportModel">
        SELECT
        <include refid="Inform_Export_Column"/>
        FROM informs i
        LEFT JOIN inform_persons ip ON i.inform_person_id = ip.id
        LEFT JOIN inform_checks ic ON i.id = ic.inform_id
        LEFT JOIN inform_rewards ire ON i.id = ire.inform_id
        WHERE i.enable = 'Y'
        and i.id IN
        <foreach collection="ids" index="index" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

    <select id="informsTop10" parameterType="List" resultType="com.springboot.model.InformTop10Model">
        SELECT
            inform_name AS entName,
            MAX(inform_time) AS infomTime,
            COUNT(inform_name) AS informNum
        FROM
          informs
        WHERE enable = 'Y'
        AND area_id in
        <foreach collection="areaIds" index="index" item="areaId" open="(" close=")" separator=",">
            <if test="areaId != null">
                #{areaId}
            </if>
        </foreach>
        GROUP BY inform_name
        ORDER BY informNum DESC,infomTime DESC
        LIMIT 10
    </select>

    <select id="pendingOverdueList" parameterType="List" resultType="Integer">
        SELECT
          count(*)
        FROM
          informs
        WHERE enable = 'Y'
        AND (check_status = 'WAITING_CHECK' OR check_status = 'CHECKING')
        AND expire_time IS NOT NULL
        AND expire_time &lt; NOW()
        AND area_id in
        <foreach collection="areaIds" index="index" item="areaId" open="(" close=")" separator=",">
            <if test="areaId != null">
                #{areaId}
            </if>
        </foreach>
    </select>

    <select id="pendingToCheckList" parameterType="List" resultType="Integer">
        SELECT
        count(*)
        FROM
        informs
        WHERE enable = 'Y'
        AND check_status = 'WAITING_CHECK'
        AND area_id in
        <foreach collection="areaIds" index="index" item="areaId" open="(" close=")" separator=",">
            <if test="areaId != null">
                #{areaId}
            </if>
        </foreach>
    </select>

    <select id="getInformGraphList" resultType="com.springboot.model.InformGraphModel">
        select i.area_id, i.check_status, count(1) as count
        from informs i
        where i.enable = 'Y'
        <if test="startDate != null">
            AND i.inform_time &gt;= '${startDate}'
        </if>
        <if test="endDate != null">
            AND i.inform_time &lt;= '${endDate}'
        </if>
        and i.area_id in
        <foreach collection="areaIds" index="index" item="areaId" open="(" close=")" separator=",">
            #{areaId}
        </foreach>
        GROUP BY i.area_id ,i.check_status
    </select>
</mapper>
