<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.mapper.InformDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.springboot.domain.Inform">
    <result column="id" property="id" />
        <result column="clue_number" property="clueNumber" />
        <result column="source" property="source" />
        <result column="anonymous" property="anonymous" />
        <result column="inform_time" property="informTime" />
        <result column="inform_name" property="informName" />
        <result column="inform_type" property="informType" />
        <result column="area_id" property="areaId" />
        <result column="crime_time" property="crimeTime" />
        <result column="crime_region" property="crimeRegion" />
        <result column="crime_address" property="crimeAddress" />
        <result column="involved_amount" property="involvedAmount" />
        <result column="inform_content" property="informContent" />
        <result column="assignment" property="assignment" />
        <result column="check_status" property="checkStatus" />
        <result column="inform_person_id" property="informPersonId" />
        <result column="attach" property="attachment"/>
        <result column="enable" property="enable" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_by" property="createBy" />
        <result column="update_by" property="updateBy" />
    </resultMap>

    <sql id="Inform_Page_Column" >
      i.id,
      i.clue_number,
	  i.inform_name,
	  '受理地区' AS acceptanceArea,
	  i.inform_time,
	  i.source,
	  i.check_status,
	  i.assignment,
	  i.area_id,
	  i.expire_time,
	  a.area_name,
	  ic.overdue,
	  ic.verification,
	  ir.reward_content
    </sql>

    <select id="informPage" parameterType="Map" resultType="com.springboot.model.InformPageModel">
        SELECT <include refid="Inform_Page_Column"/>
        FROM informs i
            LEFT JOIN inform_checks ic ON i.id = ic.inform_id
            LEFT JOIN inform_rewards ir ON i.id = ir.inform_id
            LEFT JOIN areas a ON i.area_id = a.id
        WHERE i.enable = 'Y'
        <if test="source != null and source != '' ">
            AND i.source = #{source}
        </if>
        <if test="checkStatus != null and checkStatus != '' ">
            AND i.check_status = #{checkStatus}
        </if>
        <if test="informTimeStart != null">
            AND i.inform_time &gt;= #{informTimeStart}' 00:00:00'
        </if>
        <if test="informTimeEnd != null">
            AND i.inform_time &lt;= #{informTimeEnd}' 23:59:59'
        </if>
        <if test="rewardContent != null and rewardContent != '' ">
            AND ir.reward_content = #{rewardContent}
        </if>
        <if test="informName != null and informName != '' ">
            AND i.inform_name = #{informName}
        </if>
        <if test="verification != null and verification != '' ">
            AND ic.verification = #{verification}
        </if>
        <if test="overdue != null">
            AND ic.overdue = #{overdue}
        </if>
        <if test="checkTimeStart != null">
            AND ic.check_time &gt;= #{checkTimeStart}' 00:00:00'
        </if>
        <if test="checkTimeEnd != null">
            AND ic.check_time &lt;= #{checkTimeEnd}' 23:59:59'
        </if>
        <if test="areaId != null">
            AND ic.check_unit = #{areaId}
        </if>
    </select>
</mapper>
